html body{
width:100%;
height:100%;
margin:0;
padding:0;
}


.top{
  display:flex;
  background-color:white;
  height:80px;
  width:1440px;
}

.beerlist_a{
  position:relative;
  top: 10px;
    left: 200px;
  display:flex;
  height:40px;
  width:400px;
}
  /*ロゴアイコン*/
.main-logo{
    width:40px;
    height:40px;
    /*position:relative;
    top:10px;
    left:204px;*/
}

.top_name{
  /*flex-basis:200px;*/
  height:40px;
  color:black;
  font-size:40px;
  /*position:relative;
  top:15px;
  left:210px;*/
}

/*ようこそ〜さんテキスト*/
.hello{
  position:relative;
  display:flex;
  height:20px;
  top:10px;
  left:435px;
}

/*ログインボタン*/
.login_b{
  /*color:black;*/
  height:20px;
  text-decoration: none;
  padding-top:2px;
  padding-right:10px;
  border-right:solid 2px black;
  position:relative;
  top:35px;
  left:159px;
}
/*新規登録ボタン*/
.signup_b{
  /*color:black;*/
  height:20px;
  text-decoration: none;
  padding-top:2px;
  padding-right:10px;
  border-right:solid 2px black;
  position:relative;
  top:35px;
  left:169px;
}
/*購入履歴ボタン*/
.history_b{
  /*color:black;*/
  height:20px;
  padding-top:2px;
  padding-right:10px;
  text-decoration: none;
  position:relative;
  top:35px;
  left:176px;
}
.logout{
  position: relative;
  top: 33px;
    left: 183px;
}

header{
  height:120px;
  width:1440px;
  padding-top:20px;
  background-color:black;
}

.botton_box{
  height:120px;
  width:901px;
  position:relative;
  right:66px;
  margin-left:271px;
  margin-right:auto;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  background-color:white;
  display:flex;
}
.botton{
  position:relative;
  height:60px;
  left:50px;
  top:40px;
  font-size:25px;
  text-decoration:none;
  color:black;
  display:flex;
}
.right_line{
  border-right:solid 3px black;
}
.right{
  padding-right:40px;
}
.left{
  padding-left:40px;
}
.a_name{
  width:130px;
  padding-top:15px;
  height:25px;
}
.icon{
  width:40px;
  height:50px;
}

.cart{
  position:relative;
  top:30px;
  text-align: center;
  /*文字*/
  font-size:11px;
  text-decoration:none;
  color:white;
}
/*カートの画像*/
.cart_img{
  position:relative;
  top:25px;
  left:33px;
  width:40px;
  height:40px;
}
.cart_line{
  position:relative;
  /*位置*/
  top:10px;
  left:84px;
  /*margin-top:10px;
  margin-left:0px;*/
  /* サイズ指定 */
 width:100px;
 height:100px;
 /* 背景色 */
 background-color:black;
 /* 角を丸くする */
 border-radius: 50%;
 text-decoration:none;
}
/*header部分終わり*/
.white{
  color:white;
}
main{
  /*border:solid 3px black;*/
  background-color:black;
}



/*テーブル部分*/
table{
  background-color:#ffd700;
  border:solid 3px white;
  width:900px;
  margin-left:206px;
}

tr{
  padding:5px;
  border:solid 3px white;
}
th{
  color:black;
  padding:5px;
  border:solid 3px white;
}
td{
  color:black;
  padding:5px;
  border:solid 3px white;

}

.beer_img {
  width:120px;
  height:220px;
  margin-left:auto;
  border-radius: 15px;
}



/*波線部分*/
.wave{
  background:
    linear-gradient(to right, black, black);
  height: 50px;
  position: relative;
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
}



footer{
  background-color:white;
  height:120px;
}

/*stopロゴマーク*/
img.stop{
  width:300px;
  margin-left:100px
}

.stop_p{
  width:300px;
  height:100px;
  left:300px;
  font-size:13px;
  position:relative;
  bottom:94px;
}
