html body{
width:1440px;
height:100%;
margin:0px;
padding:0px;
background-color:white;
}

header{
  /*background-color:#ffd700;*/
  background-color:white;
  width:1440px;
  height:141px;
}
/*アンカー部分*/
.top{
  margin-left:300px;
  height:70px;
}
.a_box{
  text-decoration: none;
  display:flex;
}

.main-logo{
  position:relative;
  top:24px;
  width:40px;
  height:40px;
}

.top_name{
  font-size:25px;
  position:relative;
  top:32px;
}

.signup_h{
  margin:0px;
  margin-top:22px;
  margin-left:195px;
  font-size:30px;
}

main{
  border:solid 3px black;
  background-color:black;
}


/*テーブル部分*/
table{
  background-color:#ffd700;
  border:solid 3px white;
  width:900px;
  margin-left:190px;
}

tr{
  padding:5px;
  border:solid 3px white;
}
th{
  color:black;
  padding:5px;
  border:solid 3px white;
}
td{
  color:black;
  padding:5px;
  border:solid 3px white;

}
/*id*/
.id{
  position: relative;
  bottom:100px;
  font-size:20px;
}
/*user name*/
.user_name{
  position: relative;
  bottom:100px;
  font-size:20px;
}
/*amount*/
.amount{
  position: relative;
  bottom:100px;
  font-size:20px;
}
/*price*/
.price{
  position: relative;
  bottom:100px;
  font-size:20px;
}
/*画像サイズ*/
.beer_img {
  width:120px;
  height:220px;
  margin-left:auto;
  border-radius: 15px;
}
/*item_name*/
.item_name{
  position: relative;
  font-size:20px;
  left:165px;
  bottom:114px;
}
